<main id='session-main' className='clearfix'>
  <h1>scarebnb</h1>
  <a href='/user/new'>Create account</a>

  <section id='login-section' class='session-section'>
    <img id='session-section-logo' src='http://res.cloudinary.com/dn7rukqow/image/upload/v1447811046/logo_red_yi6mz8.png' height='130' />

    <form action='/session' method='POST'>
      <input type='text' class='input-field session-input' name='user[username]' id='user_username' placeholder='username'/>
      <input type='password' class='input-field session-input' name='user[password]' id='user_password' placeholder='password'/>

      <input type='submit' class='button session-submit session-input' value='Log in!' />
    </form>

    <div class='session-demo clearfix'>
      <div>Or sign in as demo users&nbsp;</div>
      <div>
        <form action=<%= session_url %> method="POST">
          <input
            type="hidden"
            name="authenticity_token"
            value=<%= form_authenticity_token %> />
          <input
            type="hidden"
            name="user[username]"
            value="Wicked Witch" />
          <input type="hidden"
            name="user[password]"
            value="boo" />
          <input type="submit" class="session-demo-user" value="Wicked Witch">
        </form>
      </div>
      <p>&nbsp;or&nbsp;</p>
      <div>
        <form action=<%= session_url %> method="POST">
            <input
              type="hidden"
              name="authenticity_token"
              value=<%= form_authenticity_token %> >
            <input
              type="hidden"
              name="user[username]"
              value="Dracula">
            <input type="hidden"
              name="user[password]"
              value="boo">
            <input type="submit" class="session-demo-user" id='dracula' value="Dracula">
        </form>
      </div>
    </div>
  </section>
</main>
