/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

// airbnb light grey #F8F8F8
// airbnb offwhite rgba(252, 252, 253, 1);
// airbnb darkgrey #585858;
// airbnb medium grey #ededed;
// airbnb red rgba(255, 77, 77, 0.97);

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small,
select, option {
 border: 0;
 margin: 0;
 outline: 0;
 padding: 0;
 box-sizing: inherit;
 font-family: 'Open Sans', sans-serif;
 font-weight: 400;
 text-decoration: inherit;
 text-align: inherit;
 color: inherit;
 background: transparent;
 display: block;
}

body {
background: rgba(252, 252, 253, 1); //airbnb offwhite
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

ul {
 list-style-type: none;
}

.clearfix:after {
 content: "";
 clear: both;
 display: block;
}


.search-button {
 background: rgba(255, 77, 77, 1); //airbnb red
 font-weight: 800;
 width: 100px;
 color: white;
 height: 20px;
 text-align: center;
 float: left;
 border-top-right-radius: 3%;
 border-bottom-right-radius: 3%;
}

.search-button:hover {
 background: rgba(255, 128, 128, 1); //airbnb light red
 cursor: pointer;
}

.guests {
 position: relative;
 display: inline-block;
 padding: 0;
 border-right: 0px;

 select {
   -webkit-appearance: none;
   // margin: 0;
   border: 0px;
   height: 40px;
   width: 100px;
   background: transparent;
   font-size: 15px;
   color: #585858;
   padding-left: 20px;
 }
}

// NAVBAR______________________________

.nav-container {
  width: 100%;
  border: 1px solid lightgrey;
  height: 60px;
  position: fixed;
  background: rgba(252, 252, 253, 1);
  z-index: 1;
}

.nav-container * {
  font-size: 13px;
  color: #585858;
}

#home-logo {
  float: left;
  border-right: lightgrey 1px solid;
  height: 100%;
  width: 70px;
}

.search-field-container {
  width: 750px;
  float:left;
}

.search-field-container > * {
  float: left;
  padding: 3px;
}

#search-field {
  float: left;
  font-size: 16px;
  width: 600px;
  position: relative;
  bottom: 50%;
  transform: translateY(50%);
}

.pac-item {
  padding: 8px;
}

.pac-item * {
  float: left;
}

.pac-item-query {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.pac-item-selected {
  background: rgba(255, 77, 77, 0.97);
  color: white;
  .pac-item-query{
    color: white;
  }
}

.navbar-list {
  float: right;
  height: 100%;
}

.navbar-list-item {
  border-left: 1px solid lightgrey;
  padding-right: 25px;
  padding-left: 25px;
  height: 100%;
  float: left;
}

.ghost-text {
  float: left;

}

.house-pic {
  float: left;
}

.message-text {
  float: left;
  top: 2px;
}

.message-pic {
  float: left;
  top: 2px;
}
