.manage-container {
  background: #F8F8F8; //light grey
  // background-image: image-url('redpattern.jpg');
  // background-size: cover;
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 300px;
  padding-top: 150px;
}

.manage-container > div {
  float: left;
}

.manage-category {
  margin-left: 20%;
  width: 250px;
}

.manage-category > section {
  margin-top: 30px;
  width: 200px;
  border-bottom: 1px solid lightgrey;
  font-size: 18px;
  padding-left: 5px;
  color: #585858; //dark grey
}

#manage-listing-addlisting {
  padding: 5px;
  border-radius: 7%;
  font-size: 13px;
  margin-top: 30px;
  margin-left: 20px;
}

.manage-category > section:hover {
  // background: rgba(255, 77, 77, 0.97);
  cursor: pointer;
}

.manage-block {
  border: 1px solid lightgrey;
  border-bottom: 0;
  width: 450px;
  // padding:
}

.manage-block-title {
  background: #ededed; // medium grey
  border-bottom: 1px solid lightgrey;
  color: #585858; //dark grey
  padding: 10px;
  padding-left: 20px;
  font-size: 20px;
  // margin-left: 50px;
}

.manage-category-block {
  background: rgba(252, 252, 253, 1); // offwhite
  border-bottom: 1px solid lightgrey;
  padding: 20px;
}

.manage-category-block > div {
  float: left;
}

.manage-category-block-info {
  width: 70%;
}

#reservation-address {
  width: 50%;
}

#manage-category-remove {
  padding: 5px;
  border-radius: 7%;
  margin-left: 10px;
  font-size: 13px;
}

#manage-new-container {
  border-bottom: 1px solid lightgrey;
}

#manage-new-list {
  padding: 20px;
  float:left;
}

#manage-new-list li {
  width: 100%;
  float: left;
}

#manage-new-list input {
  border-bottom: 1px solid lightgrey;
  width: 60%;
  font-size: 16px;
  float: right;
}

#manage-new-submit {
  padding: 5px;
  border-radius: 7%;
  font-size: 13px;
}
