.manage-container {
  background: rgba(255, 77, 77, 0.97); // airbnb red
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 300px;
  padding-top: 150px;
}

.manage-container > div {
  float: left;
}

.manage-category {
  padding-top: 10px;
  margin-left: 10%;
  margin-right: 80px;
  width: 250px;
  border-right: 1px solid rgba(252, 252, 253, 1); // airbnb offwhite
}

.manage-category > section {
  margin-bottom: 30px;
  font-size: 18px;
  color: rgba(252, 252, 253, 1); // airbnb offwhite
}

.manage-category > section:hover {
  color: rgba(255, 128, 128, 1); //airbnb light red
  cursor: pointer;
}

.manage-block {
  width: 700px;
}

.manage-block-title {
  background: rgba(255, 128, 128, 1); //airbnb light red
  text-align: center;
  color: rgba(252, 252, 253, 1); // airbnb offwhite
  padding: 5px;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 30px;
}

.manage-category-block {
  background: rgba(252, 252, 253, 1); // offwhite
  border: 4px solid rgba(255, 128, 128, 1); //airbnb light red
  padding: 20px;
  margin-bottom: 20px;
  min-height: 75px;
}

.manage-category-block > div {
  float: left;
}

.manage-category-block-info {
  width: 70%;
}

.manage-category-block-info > div {
  float: left;
  margin-right: 25px;
}

.manage-category-block-pic {
  width: 120px;

  overflow: hidden;
}

.category-details {
  width: 250px;
  overflow: scroll;
}

#manage-category-remove {
  padding: 5px;
  border-radius: 7%;
  margin-left: 10px;
  font-size: 13px;
}

#nocategory {
  background: rgba(252, 252, 253, 1); // offwhite
  border: 4px solid rgba(255, 128, 128, 1); //airbnb light red
  text-align: center;
  padding: 20px;
}

#manage-new-content > input {
  border-bottom: 3px solid rgba(255, 128, 128, 1); //airbnb light red
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 20px;
  padding: 8px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 17px;
  color: white;
}

.manage-new-input::-webkit-input-placeholder {
   color: white;
}

.manage-new-input::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

.manage-new-input:-ms-input-placeholder {
   color: white;
}

#manage-new-content > button {
  background: rgba(255, 128, 128, 1); //airbnb light red
  padding: 8px;
  border-radius: 7%;
  font-size: 15px;
  font-weight: 400;
  color: white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#manage-new-picupload::-webkit-file-upload-button {
  // visibility: hidden;

  // background: rgba(255, 77, 77, 1); //airbnb red
  // font-weight: 300;
  // width: 100px;
  // color: white;
  // height: 20px;
  // text-align: center;
}

#manage-new-picupload {
  // hide ugly upload button
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#listing-pic-upload-label {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  // background: blue;
  // font-weight: 300;
  width: 100px;
  color: white;
  height: 20px;
  text-align: center;
}

#listing-pic-upload-label:hover {
  cursor: pointer;
  color: rgba(255, 128, 128, 1); //airbnb light red
}

#manage-new-submit {
  margin-top: 25px;
}
