#listing-header {
  display: block;
  position: relative;
  // position: absolute;
  // top: 60px;
  // height: 700px;
  height: 770px;
  width: 100%;
}

#listing-header-pic {
  display: block;
  // background-image: image-url('deathstar.jpg');
  width: 100%;
  height: 550px;
  // overflow: visible;
}

.listing-header-detail {
  position: relative;
  display: block;
  height: 220px;
  // background: red;

  // margin-left: 300px;
  // margin-right: 300px;
  padding-bottom: 0px;
  // padding-top: 25px;
  // background: red;
}

.listing-header-detail > * {
  float: left;
  margin-top: 25px;
}

#listing-show-user {
  // background: yellow;
  margin-left: 20%;
  width: 100px;
  font-size: 18px;
  color: grey;
  text-align: center;
}

#listing-show-user > img {
  border: 0;
  border-radius: 50%;
  margin-bottom: 15px;
}

#listing-header-info {
  margin-left: 5%;
}

#listing-show-title {
  color: #585858;
  font-size: 30px;
}

#listing-show-title-detail {
    color: grey;
    font-size: 15px;
    margin-bottom: 18px;
}

.header-amenities > * {
  float: left;
  text-align: center;
  color: grey;
  font-size: 13px;
  margin-right: 40px;
}

.header-amenities img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}

// RSVP***********************************

.show-dates-list {
  position: relative;
  margin-top: 30px;
  left: 50%;
  transform: translateX(-50%);
  height: 120px;
  background: rgba(252, 252, 253, 1); // airbnb offwhite
  // background: red;
  width: 180px;
}


.index-dates-list section {
  float: left;
  margin-top: 50px;
  position: relative;
  margin-right: 75px;
  left: 35%;
  transform: translateX(-50%);
}

#listing-show-rsvp-content {
  position: relative;
  // right: 0%;
  // bottom: 0%;
  margin-top: 0px;
  width: 280px;
  // background: blue;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  height: 100%;
  // margin-left: 30px;
  // margin-right: 100px;
  margin-left: 3%;
  margin-right: 5%;
  // padding-left: 15px;
}

.listing-show-rsvp-title {
  position: absolute;
  // top: -20%;
  // right: 0%;
  top: -40px;
  width: 100%;
  background: rgba(69, 69, 69, 0.87); //transparent grey
  border-left: 1px solid rgba(69, 69, 69, 0.87);
  border-right: 1px solid rgba(69, 69, 69, 0.87);
  color: white;
  font-size: 24px;
  // padding-left: 15px;
  height: 40px;
}

#listing-show-rsvp-toenails > * {
  float: left;
}

#listing-show-rsvp-toenails img {
  margin-top: 4px;
}

#listing-show-rsvp-price {
  margin-left: 15px;
}

#rsvp-per-night {
  float: right;
  font-size: 14px;
  margin-right: 15px;
  margin-top: 12px;
}

#listing-show-reserve-button {
  border-radius: 5%;
  height: 30px;
  width: 150px;
  font-size: 14px;
  position: relative;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.listing-show-content-container {
  // position: absolute;
  // top: 800px;
  width: 100%;
  height: auto;
  display: block;
  background: #ededed;
  margin-right: 300px;
  border-top: solid 1px lightgrey;
}

#listing-show-content-title {
  font-size: 17px;
  font-weight: 800px;
  margin-left: 300px;
  margin-top: 30px;
}

.listing-show-content {
  border-bottom: 1px solid lightgrey;
  margin-left: 300px;
  width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  color: grey;
}
