#listing-header {
  position: absolute;
  top: 60px;
  // background-image: image-url('deathstar.jpg');
  background: red;
  background-size: cover;
  width: 100%;
  height: 600px;
  // overflow: visible;
}
