.listing-contents {
  width: calc(100% - 550px); // map width = 550px
  height: 100%;
  position: absolute;
  top: 61px;
  background: #585858; //airbnb darkgrey
}

.index-dates-list {
  position: relative;
  height: 120px;
  position: relative;
  background: rgba(252, 252, 253, 1); // airbnb offwhite
}

.index-dates-list section {
  float: left;
  margin-top: 50px;
  position: relative;
  margin-right: 75px;
  left: 35%;
  transform: translateX(-50%);
}

#no-listings {
  position: relative;
  display: block;
  width: 100%;
  background: #ededed; //airbnb med grey
  height: 600px;
}

#no-listings * {
  color: #585858; //airbnb darkgrey
  position: relative;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

#boo {
  font-size: 80px;
  width: 170px;
}

#no-listing-text {
  width: 400px;
  margin-top: 25px;
}

.listings-list {
  width: 780px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  padding-bottom: 65px;
}

#listings-list-container {
  display: block;
  width: 100%;
  background: #ededed; //airbnb med grey
  position: relative;
}

.listing-block {
  float: left;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
  background: grey;
  width: 350px;
  height: 240px;
  overflow: visible;
}

.listing-block:hover {
  cursor: pointer;
}

.listing-user-pic {
  position: absolute;
  right: 10px;
  border-radius: 50%;
  bottom: -30px;
  border: 2px #ededed solid;
}

#listing-title {
  color: #585858;
  position: absolute;
  bottom: -50px;
  left: 10px;
  width: 250px;
  height: 20px;
  overflow: scroll;
}

#listing-address {
  width: 250px;
  overflow: scroll;
  height: 20px;
}

.listing-toe-nail {
  position: absolute;
  padding: 6px;
  bottom: 20px;
  text-align: center;
  left: 0px;
  color: white;
  font-size: 30px;
  font-weight: 800;
  background: rgba(41, 41, 41, 0.72);
  height: 30px;
}

.toenail-pic {
  margin-left: 7px;
}

.listing-toe-nail * {
  float: left;
  position: relative;
  bottom: 5px;
}

#map {
  width: 550px;
  height: 800px;
}

#map-container {
  position: fixed;
  right: 0;
  top: 61px;
  width: auto;
  height: auto;
}

#index-footer {
  border-top: 1px solid lightgrey;
  display: block;
  background: #585858; //airbnb darkgrey
  height: 75px;
}

#index-footer a {
  color: white;
  float: left;
  position: relative;
  left: 44%;
  margin-top: 20px;
  transform: translateX(-50%);
}

#index-footer a:hover {
  color: rgba(255, 128, 128, 1); //airbnb light red
}
