#session-main {
  background: rgba(255, 77, 77, 0.97); //airbnb red
  content: "";
  height: 100vh;
  width: 100%;
}

#session-main > h1 {
  position: absolute;
  left: 1%;
  top: 1%;
  font-size: 20px;
  color: rgba(252, 252, 253, 1); // airbnb offwhite
}

#session-main > a {
  position: absolute;
  right: 1%;
  top: 1%;
  color: rgba(252, 252, 253, 1); // airbnb offwhite
  font-size: 18px;
}

.session-section {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 400px;
  width: 400px;
  border: 5px solid rgba(255, 128, 128, 1); //airbnb light red
  background: rgba(252, 252, 253, 1); // airbnb offwhite
  border-radius: 3%;
}

.session-section > h2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 45px;
  // background: blue;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 300px;
  color: rgba(255, 77, 77, 0.97); //airbnb red
}

#session-section-logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  margin-bottom: 40px;
}

.session-error {
  color: white;
  background: rgba(255, 128, 128, .6); //airbnb light red
  // background: lightgrey;
  text-align: center;
  padding: 10px;
  font-weight: 300;
  border-radius: 3%;
  width: 250px;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}

// #session-section > h3 {
//   color: #585858; //dark grey
//   font-family: 'Shadows Into Light', cursive;
//
// }

.session-input {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
  width: 250px;
}

#signup-section {
  height: 470px;
}

#user_username {
  width: 250px;
  background: rgba(252, 252, 253, 1); // airbnb offwhite
}

#user_password {
  width: 250px;
  background: rgba(252, 252, 253, 1); // airbnb offwhite
}

#userpic-upload {
  border-radius: 6%;
  width: 120px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid lightgrey;
  background: rgba(252, 252, 253, 1); // airbnb offwhite
  color: #585858; //dark grey
  border-bottom: 2px solid lightgrey;
}

#userpic-upload:hover {
  border: 1px solid rgba(255, 77, 77, 0.97); //airbnb red
  border-bottom: 2px solid rgba(255, 77, 77, 0.97); //airbnb red
  // color: rgba(255, 77, 77, 0.97); //airbnb red
}

.session-submit {
  border-radius: 6%;
  padding: 5px;
  font-size: 15px;
  background: rgba(255, 77, 77, 0.97); //airbnb red
  color: rgba(252, 252, 253, 1); // airbnb offwhite
}

#session-submit-signup {
  width: 200px;
}

.session-demo {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  width: 360px;
}

.session-demo > * {
  float: left;
}

.session-demo-user {
  // display: inline;
  color: rgba(255, 77, 77, 0.97); //airbnb red
  width: 90px;
  font-size: 14px;
  // float: left;
}

#dracula {
  width: 55px;
}

.session-demo-user:hover {
  cursor: pointer;
}
